langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-core
langchain-chroma
chromadb
pypdf
sentence-transformers
transformers
torch
huggingface_hub
groq
streamlit
langsmith
python-dotenv
cryptography
